@{
    ViewData["Title"] = "About";
}

<br />
<br />
<br />



<div class="home-bg">
    <div class="transparent"></div>
    <img src="/img/about-bg.jpg" />
</div>

<div class=" container About">
    <h1 class="text-info text-center">About</h1>
    <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nulla turpis, 
        mollis eu eros at, luctus sollicitudin ante. Suspendisse eu lorem ipsum. Sed 
        imperdiet condimentum mi, non sagittis tortor. Donec pharetra vehicula lectus. 
        Donec auctor tellus vitae felis dignissim, ut maximus nisl rhoncus. In semper 
        bibendum arcu, sed molestie sem semper non. Nulla sed augue enim.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nulla turpis, 
        mollis eu eros at, luctus sollicitudin ante. Suspendisse eu lorem ipsum. Sed 
        imperdiet condimentum mi, non sagittis tortor. Donec pharetra vehicula lectus. 
        Donec auctor tellus vitae felis dignissim, ut maximus nisl rhoncus. In semper 
        bibendum arcu, sed molestie sem semper non. Nulla sed augue enim.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nulla turpis, 
        mollis eu eros at, luctus sollicitudin ante. Suspendisse eu lorem ipsum. Sed 
        imperdiet condimentum mi, non sagittis tortor. Donec pharetra vehicula lectus. 
        Donec auctor tellus vitae felis dignissim, ut maximus nisl rhoncus. In semper 
        bibendum arcu, sed molestie sem semper non. Nulla sed augue enim.
 </p>
</div>