
@{
    ViewData["Title"] = "Event";
}
<div class="home-bg">
    <div class="transparent"></div>
    @*<img src="/img/home-bg.jpg" />*@
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <h1 class="text-center text-danger">Events are being Prepared !!!</h1>
</div>

