@{
    ViewData["Title"] = "Home Page";
}
<div class="home-bg">
    <div class="transparent"></div>
    <img src="/img/home-bg.jpg" />
</div>
<div class="text-center front">
    <div class="welcome">
        <h4 class="text-light">WELCOME</h4>
        <h5 class="text-light">TO</h5>
        <h1 class="text-light">GOLDVINE UNIVERSITY</h1>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <h6 class="text-info">Your Role is an Admin</h6>
        }
        else if (User.IsInRole("Lecturer"))
        {
            <h6 class="text-info">Your Role is an Lecturer</h6>
        }
        else
        {
            <h6 class="text-info">Your role is a Student</h6>
        }
    }
</div>
