@using Goldvine_University.Data.Enum
@model Student

<form method="post" asp-action="Create" enctype="multipart/form-data" class="container">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Profile</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" name="file" id="file-1" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DOB"></label>
            <input asp-for="DOB" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RegNumber"></label>
            <input asp-for="RegNumber" class="form-control" />
            <span asp-validation-for="RegNumber" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Faculty"></label>
            <select asp-for="Faculty" asp-items="@Html.GetEnumSelectList<Faculty>()" class="form-control">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="Faculty" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Department"></label>
            <select asp-for="Department" asp-items="@Html.GetEnumSelectList<Department>()" class="form-control">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
     }