@model Goldvine_University.Models.Post

<form method="post" asp-action="Detail" class="container">

    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4 detail">
        <div class="row pb-2">
            <h2 class="text-primary text-center">Post Details</h2>
            <hr />
        </div>

        <br />
        <div class="mb-3 align-items-center">
            <img src="@Model.ImageUrl" style="width:20rem ; height=20rem;" ; />
            @*            <input asp-for="ImageUrl" class="form-control" disabled />
            *@
        </div>
        <br />
        <div class="mb-3">
            <h1>@Model.Title</h1>
        </div>


        <div class="mb-3">
            <p>@Model.Description</p>
        </div>



        <a asp-controller="Post" asp-action="BlogPost" class="btn btn-secondary" style="width:fit-content">Back To Blog</a>
    </div>
</form>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    } 