@model Goldvine_University.Models.ViewModel.ForgotPasswordViewModel


<h1 class="text-center text-info">Forgot Password?</h1>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="gorm-group">
        <label asp-for="Email" class="col-md-2"></label>m
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control">Submit</button>
        </div>
    </div>
</form>