@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<br />
<div class="home-bg">
    <div class="transparent"></div>
    <img src="/img/Unibg.jpg" />
</div>
<div class="dashboard__button">
    <h3 class="dashboard_head text-info">Click on your Section</h3>
    <div class="portals">
        <div class="student__portal">
            <a class="text-light" asp-area="" asp-controller="Account" asp-action="Login">LOGIN</a>
            <a class="text-light" asp-area="" asp-controller="Photo" asp-action="Create">REGISTER</a>
            <h6 class="text-info">Student Portal</h6>
        </div>

        <div class="lecturer__portal">
            <a class="text-light" asp-area="" asp-controller="Account" asp-action="Login">LOGIN</a>
            <a class="text-light" asp-area="" asp-controller="Account" asp-action="LecturerRegister">REGISTER</a>
            <h6 class="text-info">Lecturer Portal</h6>
        </div>
    </div>
    <a class="text-light" asp-area="" asp-controller="Account" asp-action="Login" style="font-size:1rem;">Admin Login</a>
</div>

